body {
  margin: 0;
  overflow-x: hidden;
}

.row {
  margin: 0 auto;
  max-width: 100%;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images//bg/workingbg.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.page_nav:link,
.page_nav:visited {
  display: inline-block;
  margin-top: 5px;
  margin-left: 0;
  padding: 10px 30px;
  text-decoration: none;
  border: 1px beige;
  background-color: beige;
  border-radius: 5px;
  color: black;
}

.social_links {
  position: fixed;
  top: 30%;
  margin: 20px;
  flex-direction: row;
}

.icon_big {
  font-size: xx-large;
  display: block;
  color: rgb(136, 135, 135);
  margin-bottom: 5px;
}

.icon_big:hover {
  color: rgb(99, 98, 98);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.2 px;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 2px rgb(212, 209, 209);
  font-size: 3em;
  text-align: center;
}

h3 {
  margin-bottom: 25px;
}
.hero_text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
}

.slide_text {
  margin-bottom: 25px;
}
.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1,
.text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: rgb(182, 181, 181);
  animation-duration: 10s;
  animation-timing-function: steps(20, end);
  animation-iteration-count: infinite;
}

.text_1::after,
.text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 0.2s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: 5;
}

@keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 8.5em;
  }
}

@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 12em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.section_heading {
  margin: 0;
  color: black;
  margin-bottom: 15px;
  text-align: center;
  font-size: 180%;
  word-spacing: 2px;
  margin-top: 15px;
  padding-top: 15px;
}

.section_heading::after {
  display: block;
  height: 5px;
  background-color: #38ada9;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}

/*-----About section----*/

.about_flex {
  display: flex;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px;
}

.profpic {
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

.about_content {
  margin-top: 45px;
  margin-left: 30px;
  font-family: cursive;
}

.skills {
  background-color: rgb(247, 245, 245);
  height: 20%;
  padding-bottom: 25px;
}
.about_skills {
  height: 20%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  display: flex;
}

.skills_carousel {
  width: 40%;
  height: 80%;
  margin-left: 10%;
}
.car_img {
  width: 300px;
  height: 300px;
}

.dots_disp {
  text-align: center;
  width: 300px;
}

.skills_level_bar {
  width: 100%;
  padding: 20px;
}

.level_bar {
  display: flex;
  width: 100%;
  background-color: rgb(231, 229, 229);
  height: 30px;
  margin: 20px;
}
.bar {
  width: 95%;
  display: flex;
}

.tag {
  width: 8%;
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: #04c2c9;
  color: white;
  font-weight: bold;
  position: absolute;
}
.level {
  background-color: #00a1a7;
}
.val {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
/*-----Navbar-----*/

nav {
  top: 20px;
  position: fixed;
  background-color: transparent;
  z-index: 1;

  -webkit-animation: fadein 2s linear forwards;
  animation: fadein 2s linear forwards;
}
.navlist {
  list-style: none;
  display: inline;
  color: black;
  padding-right: 20px;
}

.listlink {
  color: rgb(136, 135, 135);
  text-decoration: none;
}

.listlink:hover {
  color: rgb(185, 185, 185);
  text-decoration: none;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

/*----Carousel-----*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*-----Projects------*/

.projects {
  height: 25%;

  margin-bottom: 25px;
  padding-bottom: 30px;
}

.projects_card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snowpass_pro {
  display: flex;
  justify-content: center;
  width: 26%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  margin: 25px;
}

.snowpass_pro:hover .overlay {
  background-color: black;
  opacity: 0.7;
}

.snowpass_img {
  height: 350px;
  width: 350px;
}

.purple_pro {
  display: flex;
  justify-content: center;
  width: 26%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  margin-top: 50px;
}

.purple_pro:hover .overlay {
  background-color: black;
  opacity: 0.7;
}

.purple_img {
  height: 350px;
  width: 350px;
}

.pro_caption {
  color: teal;
  font-size: large;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border: 5px solid transparent;
  transition: border-color 0.5s ease-in;
}
.overlay:hover {
  border-top-color: teal;
  border-left-color: teal;
  border-bottom-color: teal;
  border-right-color: teal;
}

.text {
  color: whitesmoke;
  font-size: 20px;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.analytic_pro {
  display: flex;
  align-self: baseline;
  width: 26%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  margin: 25px;
}

.analytic_pro:hover .overlay {
  background-color: black;
  opacity: 0.7;
}

.analytic_img {
  height: 350px;
  width: 350px;
}

.vsection {
  height: 40%;
  width: 100%;
  -webkit-clip-path: polygon(50% 13%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 13%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #252934;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.info_box {
  display: flex;
}

.info {
  width: 25%;
  height: auto;
  margin-left: 10%;
  color: #d3cfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(80, 80, 80);
  padding: 10px;
}

info_sec {
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  justify-content: center;
}
