body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: transparent;
  color: white;
  width: 100%;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: fixed;
}
.header.scrolled {
  background-color: #1d1e20;
}

.header > div:first-child {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.header > div:first-child > span {
  display: grid;
  text-align: center;
  align-self: center;
  padding: 10px 20px;
}

.header > div:first-child > span:first-child > b {
  letter-spacing: 2px;
}
.header > div:first-child > span:first-child > b::first-letter {
  color: red;
  font-size: x-large;
}
.header > div:first-child > span:first-child > i {
  font-variant: petite-caps;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: rgb(255, 255, 255, 0.1);
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: rgb(255, 0, 0, 0.75);
  width: 0%;
}

.menu-btn {
  cursor: pointer;
}

.main {
  height: 100vh;
}

.main-bg {
  background: url("./static/bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.main-darken {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 30, 32, 0.7);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.side-bar-contact {
  font-size: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 50vh;
  left: -50px;
  display: -webkit-box;
  display: flex;
}

.side-bar-contact > span {
  margin-right: 100px;
}

.side-bar-contact > img {
  width: 25px;
  cursor: pointer;
}

.main-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
}

.main-topic {
  align-self: center;
  margin-left: 100px;
  text-transform: uppercase;
  -webkit-text-stroke: 5px #fff;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 5px;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  max-width: 11.4ch;
  -webkit-animation: dev;
  animation: dev;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: steps(12, end);
  animation-timing-function: steps(12, end);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.main-topic::after {
  content: "|";
  position: absolute;
  right: 0;
  -webkit-animation: caret infinite;
  animation: caret infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

@-webkit-keyframes dev {
  0%,
  100% {
    width: 0;
  }
  25%,
  75% {
    width: 12ch;
  }
}

@keyframes dev {
  0%,
  100% {
    width: 0;
  }
  25%,
  75% {
    width: 12ch;
  }
}
@-webkit-keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
