body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: transparent;
  color: white;
  width: 100%;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: fixed;
  z-index: 1;
}
.header.scrolled {
  background-color: #1d1e20;
}

.header > div:first-child {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.header > div:first-child > span {
  display: grid;
  text-align: center;
  align-self: center;
  padding: 10px 20px;
}

.header > div:first-child > span:first-child > b {
  letter-spacing: 2px;
}
.header > div:first-child > span:first-child > b::first-letter {
  color: red;
  font-size: x-large;
}
.header > div:first-child > span:first-child > i {
  font-variant: petite-caps;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: rgb(255, 255, 255, 0.1);
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: rgb(255, 0, 0);
  width: 0%;
}

.menu-btn {
  cursor: pointer;
}

.main {
  height: 100vh;
}

.main-bg {
  background: url("./static/bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.main-darken {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 30, 32, 0.7);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.side-bar-contact {
  font-size: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 50vh;
  left: -50px;
  display: -webkit-box;
  display: flex;
}

.side-bar-contact > span {
  margin-right: 100px;
}

.side-bar-contact > img {
  width: 25px;
  cursor: pointer;
}

.main-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
}

.main-topic {
  align-self: center;
  margin-left: 200px;
  text-transform: uppercase;
  -webkit-text-stroke: 5px #fff;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 5px;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  max-width: 11.4ch;
  -webkit-animation: dev;
  animation: dev;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: steps(12, end);
  animation-timing-function: steps(12, end);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.main-topic::after {
  content: "_";
  position: absolute;
  right: 0;
  font-size: 80px;
  -webkit-text-stroke: 0px;
  color: #fff;
  bottom: 0px;
  -webkit-animation: caret infinite;
  animation: caret infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: steps(1.4ch, end);
  animation-timing-function: steps(1.4ch, end);
}

@-webkit-keyframes dev {
  0%,
  100% {
    width: 0;
  }
  25%,
  75% {
    width: 12ch;
  }
}

@keyframes dev {
  0%,
  100% {
    width: 0;
  }
  25%,
  75% {
    width: 12ch;
  }
}
@-webkit-keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.mouse {
  display: block;
  width: 28px;
  height: 48px;
  border-radius: 11px 11px 15px 15px;
  border: 1px solid #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.about {
  background-color: #1d1e20;
  color: #fff;
  padding: 50px 100px;
}

.about > header {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px #000;
  position: relative;
  width: fit-content;
}

.about > header::before {
  background-color: red;
  content: "";
  width: 30px;
  right: 20px;
  height: 5px;
  display: inline-block;
  position: absolute;
  bottom: -20px;
  border-bottom-left-radius: 20px;
}
.about > header::after {
  background-color: red;
  content: "";
  width: 15px;
  right: 0;
  height: 5px;
  display: inline-block;
  position: absolute;
  bottom: -20px;
  border-bottom-right-radius: 20px;
}

.about-content {
  display: flex;
}

.about-content > .frame {
  width: 100%;
  border: 1px solid rgb(255, 255, 255, 0.3);
  margin: 45px 45px 45px 0;
}

.about-content > .about-text {
  font-family: Arial, Helvetica, sans-serif;
}

.about-content > .about-text > p {
  color: #ccc;
  line-height: 2;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.skill-group > span:first-child {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.about-content progress {
  width: 100%;
  height: 10px;
  appearance: none;
}

.about-content progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.about-content progress[value]::-webkit-progress-value {
  border-radius: 2px;
  background-color: rgb(255, 0, 0, 0.8);
}
